/* header */
.header{
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 888;
  margin: 0 auto;
  position: fixed;
  top: 0;
}

.header_in{
  width: 1596px;
  max-width: 90%;
  height: 112px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div{
  min-width: 212px;
}


/* logo */
.logo{
  text-align: left;
  cursor: pointer;
}


/* login menu */
.loginmenu svg{
  margin-left: 8px;
}
.loginmenu{
  color: #ffffff;
  position: relative;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginmenu > li{
  box-sizing: border-box;
  color: #ffffff;
  min-width: 112px;
  padding: 44px 0px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
/* menu display none */
.loginmenu .mymenu, .logout{
  display: none;
}
/* mymenu */
.mymenu:hover .mymenusub{
  top: 112px;
}
.mymenusub{
  padding: 24px 16px;
  margin: 0 auto;
  position: absolute;
  top: -9999px;
  left: 50%;
  transform: translate(-50%, -0%);
}
.mydept2 li{
  min-width: 112px;
  padding: 16px 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.mydept2 li:hover::after{
  display: block;
}
.mydept2 li::after{
  content: '';
  display: none;
  width: 112px;
  height: 2px;
  background-color: #6557DF;
  position: absolute;
  bottom: 0;
}




/* nav */
.nav{
  position: relative;
  height: 100%;
  cursor: pointer;
}

/* nav dept1 */
.dept1{
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dept1 li{
  box-sizing: border-box;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  min-width: 112px;
  padding: 40px 20px;
  box-sizing: border-box;
}
.dept1 li:hover{
  color: #6557DF;
}


/* nav subnav dep2 */
.subnav{
  min-width: 720px;
  padding: 24px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -9999px;
  left: 50%;
  transform: translate(-50%, -0%);
  background-color: #ffffff;
}
.nav:hover .subnav{
  top: 112px;
}
.dept2 li{
  min-width: 112px;
  padding: 16px 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.dept2 li:hover::after{
  display: block;
}
.dept2 li::after{
  content: '';
  display: none;
  width: 112px;
  height: 2px;
  background-color: #6557DF;
  position: absolute;
  bottom: 0;
}