 /* 원본 */
 
/* 프리텐다드 웹폰트 임베딩딩 */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 리셋 css */
.App {
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-weight: 400;
  font-style: normal;
  /* padding-top: 112px; */
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  color: #333;
}
svg{
  width: 24px;
  height: 24px;
}
img {
  border: 0;
}

body ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 색상 상속 */
}

body a:hover {
  text-decoration: none;
}

.subinner{
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 192px;
  min-height: 65vh;
}
.subTitle{
  font-weight: 800;
  text-align: left;
  margin-bottom: 36px;
}
.subTitle p{
  width: 40px;
  height: 4px;
  background-color: #6557DF;
  margin-bottom: 12px;
}
