 /* 원본 */

 * {
  margin: 0;
  padding: 0;
}

body {
font-size: 15px;
color: #333;
}

img {
border: 0;
}

ul,
li {
list-style: none;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

a:hover {
  text-decoration: none; /* 호버 시에도 밑줄 제거 */
}
